<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Mussum Ipsum, cacilds vidis litro abertis. A ordem dos tratores não altera o pão duris.Aenean aliquam molestie leo, vitae iaculis nisl.Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!Cevadis im ampola pa arma uma pindureta. Não sou faixa preta cumpadi, sou preto inteiris, inteiris. Suco de cevadiss deixa as pessoas mais interessantis. Quem num gosta di mé, boa gentis num é. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email.email@com</li>
                <li><i class="fa-solid fa-phone"></i> (12) 34567-89012</li>
                <li><i class="fa-brands fa-whatsapp"></i> (12) 34567-89012</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>